.size-btn {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #000 !important;
}
.size-btn.ant-radio-button-wrapper-checked {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
}
