.cart {
  position: fixed; 
  top: 0; 
  max-width: 450px;
  width: 100%;
  height: 100%; 
  background: white;
  color: black;
  box-shadow: -4px 0 12px rgba(0,0,0,0.1);
  padding: 15px;
  z-index: 12200;
  transition: right 0.3s ease;
}
.cart.open {
  right: 0;
}
.flex{
  display: flex;
  justify-content: space-between;
  top: 0;
}
.iconBox {
  width: 28px;           /* წინასწარ განსაზღვრული ზომა */
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;        /* vertical flick-ის თავიდან ასაცილებლად */
}

.icon {
  font-size: 22px;
  cursor: pointer;
}
